<h1>TV Shows</h1>
<%= link_to "view show with the highest number of reviews", tv_shows_most_reviewed_path %>
<hr>
<ul><% @shows.each do |show| %>
    <li><%= link_to show.name, tv_show_path(show) %></li>
<% end %></ul>
<br>
<%= link_to "Create a new show here", new_tv_show_path %>