<%= display_header(@show) %>
<hr>
<ul><% @characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %></li>
<% end %></ul><br>

<%= link_to "Create a new character here", new_character_path %>