<%= display_header_characters(@show) %>
<hr>
<ul><% @characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %></li>
<% end %></ul><br>

<%= display_add_character(@show) %>